# Suas Credentias
RA=1234567890123
SENHA=your_password_here
UF=SP

# API Subscription Keys (Pega via DevTools)
SED_SUBSCRIPTION_KEY=your_key_here
SED_SUBSCRIPTION_KEY2=your_key_here
SED_SUBSCRIPTION_KEY3=your_key_here

GEMINI_API_KEY=your_gemini_key_here